@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-gray-800
}

table td {
  white-space: nowrap;
}

table th {
  white-space: nowrap;
}

.wallet-adapter-button {
  margin: 0 auto;
}

.wallet-adapter-button:hover {
  background-color: #512da8 !important;
}